#currency-overview {
    display: flex;
    flex-wrap: wrap;
    max-width: 730px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
}

#currency-overview .currency {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

#currency-overview .currency label {
    min-width: 30px;
}

#currency-overview .currency input {
    flex: 1;
    margin-left: 10px;
}

#currency-overview .fullwidth {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

#currency-overview .fullwidth p {
    margin: 0;
}

#currency-overview .btn {
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 14px 20px;
    text-decoration: none;
    margin-top: 15px;
    background: #007cba;
    transition: 0.2s;
    width: 200px;
}

#currency-overview .btn:hover {
    background: #006ba1;
}

#currency-overview .btn.loading {
    pointer-events: none;
    opacity: 0.3;
    pointer-events: none;
    color: #007cba;
}

#currency-overview .spin-loader {
    position: absolute;
    top: 27px;
    left: 90px;
    border: 2px solid #f2f2f2;
    border-top: 2px solid #a2c2d7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    z-index: 1;
    display: none;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 550px) {
    
    #currency-overview .currency {
        width: 48%;
        justify-content: space-between;
    }

    #currency-overview .currency input {
        margin-left: 0;
        flex: none;
    }

    #currency-overview .currency label {
        min-width: 0;
    }
}

@media screen and (min-width: 989px) {
    
    #currency-overview {
        justify-content: flex-start;
    }

    #currency-overview .currency {
        width: 30%;
        margin-right: 20px;
    }
}